<!-- <link rel="stylesheet" href="/css/profile.css"> -->

<img src="<%= user.avatar %>" alt="<%=user.name%>" width="100px">


<% if( user.id == profile_user.id){ %>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="name" value="<%= profile_user.name %>" required>
        <input type="text" name="email" placeholder="email" value="<%= profile_user.email %>"required>
        <input type="file" name="avatar"  placeholder="ProfilePicture">
        <input type="submit" value="Update">
    </form>
<% } else{%>
    <h1> Profile </h1>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email%></p>
<% } %>